language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"
    - "pypy"
env:
    - DJANGO="django>=1.8,<1.9"
    - DJANGO="django>=1.11,<2.0"
    - DJANGO="django>=2.0"
install:
    - "pip install ${DJANGO}"
before_script:
    - "pip install python-coveralls coverage"
script:
    - "coverage run runtests.py"
after_success:
    - "coveralls"
notifications:
    email: false
matrix:
  exclude:
    - python: "2.7"
      env: DJANGO="django>=2.0"
    - python: "pypy"
      env: DJANGO="django>=2.0"
